.games:hover {
  border: 3px solid rgba(255, 255, 255, 0.726);
  box-shadow: 0px 0px 10px #aaaaaa;
  cursor: pointer;
}

.game {
  display: block;
  width: 100%;
  
}

.size {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

